* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 120px);
  gap: 10px;
  padding: 10px;
}

.box {
  background-color: green;
  color: white;
  font-size: 24px;
  padding: 10px;
}

/* layout exactly as image */
.one {
  grid-column: span 5;
}

.two {
  grid-row: span 4;
}

.three {
  grid-column: span 1;
}

.four {
  grid-column: span 3;
}

.five {
  grid-column: span 3;
}

.six {
  grid-column: span 2;
}

.seven {
  grid-column: span 1;
}

.eight {
  grid-column: span 2;
}

.nine {
  grid-column: span 2;
}

.ten {
  grid-column: span 4;
}
