#grid {
  display: grid;
  grid-template-columns: repeat(5, 124px);
  grid-template-rows: repeat(5, 124px);
  gap: 10px;
  padding: 10px;
}

.box {
  background: green;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Layout mapping */
.one {
  grid-column: span 5;
}

.two {
  grid-row: span 4;
}

.three {
  grid-column: span 1;
}

.four {
  grid-column: span 2;
}

.five {
  grid-column: span 3;
}

.six {
  grid-column: span 2;
}

.seven {
  grid-column: span 1;
}

.eight {
  grid-column: span 1;
}

.nine {
  grid-column: span 1;
}

.ten {
  grid-column: span 5;
}
